<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:lang="http://www.springframework.org/schema/lang" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />

	<aop:config>
		<aop:pointcut id="ServiceMethod"
			expression="execution(public * com.example.spring.*.*.service.*ServiceImpl.*(..))" />
		<aop:aspect id="Validation" ref="ValidationAspect" order="5">
			<aop:around method="around" pointcut-ref="ServiceMethod" />
		</aop:aspect>
	</aop:config>

	<bean name="ValidationAspect"
		class="com.example.spring.boot.rest.validator.ValidationAspect">
		<property name="validators">
			<list>
			</list>
		</property>
		<property name="serviceValidators">
			<list>
				<bean
					class="com.example.spring.boot.rest.validator.DmSoapServiceValidator">
				</bean>
				<!-- Here we can add more validation classes if required -->
				<bean
					class="com.example.spring.boot.rest.validator.DmRestServiceValidator">
				</bean>
			</list>
		</property>
	</bean>
</beans>
